{% extends "IPTrepnoe7/certs.html" %}

{% block certtext %}
{% for x in persons %}
   <text:p text:style-name="P47">подтверждает, что</text:p>
   <text:p text:style-name="P19"/>
   <text:p text:style-name="P46"><text:span text:style-name="T1">{{ x.name }}</text:span></text:p>
   <text:p text:style-name="P46"><text:span text:style-name="T1">{{ x.surname }}</text:span></text:p>
   <text:p text:style-name="P2">
    учени<text:span text:style-name="T4">{% if x.gender == "ж" %}ца{% else %}к{% endif %}</text:span>
    <text:span text:style-name="T7">{% firstof x.school_class "__" %}</text:span> класса
   </text:p>
   <text:p text:style-name="P34">{{ x.affiliation }}</text:p>
   <text:p text:style-name="P1">принял<text:span text:style-name="T4">{% if x.gender == "ж" %}а{% endif %}</text:span> участие в </text:p>
   <text:p text:style-name="P1">турнире «Золотое сечение» в Репном</text:p>
   <text:p text:style-name="P1">(<text:span text:style-name="T4">Первая Лига</text:span>)</text:p>
   <text:p text:style-name="Standard"/>
   <text:p text:style-name="P5"/>
{% endfor %}
{% endblock %}